$myColor: purple;
$myColor2: #1E883E;
$myColor3: #0d722c;
$myColor4: #B029F9;
$myColor5: #FFE0F0;
$myColor6: #646576;
$myWhite: white;
$myBlack: black;
$myNav: #282A35;
$myCode: #015cc5;
$myWeight: bold;
$myCursor: pointer;
$myButtonWidth: 150px;
$myButtonHeight: 50px;
$myRadius: 12px;
$myRadius2: 30px;
$fSize: 17px;
$fSize2: 20px;
$myTextDec: none;
$myBorder: 1px solid black;
$myPadding: 15px;
$myAlign: center;
$myShadow: inset;
$myDisplay: inline-flex;
$myFlex: flex;
$myVertical: middle;

h1 {
     color: $myColor;
}

code {
     color: $myCode;
     font-weight: $myWeight;
}

button {
     height: $myButtonHeight;
     width: $myButtonWidth;
     border-radius: $myRadius;
     background-color: $myColor2;
     color: $myWhite;
     font-size: $fSize;
}

button:hover {
     cursor: $myCursor;
     color: $myWhite;
     background-color: $myColor3;
}

.myLink {
     text-decoration: $myTextDec;
     border-radius: $myRadius;
     padding: $myPadding;
     background-color: $myColor6;
     color: $myWhite;
     font-size: $fSize2;
}

.myLink:hover {
     background-color: $myBlack;
     color: $myWhite;
}

nav {
     background-color: $myNav;
     padding: $myPadding;
     border-radius: $myRadius;
     color: $myWhite;
}

.myUl {
     text-align: $myAlign;
}

.avatar {
     border-radius: $myRadius2;
     display: $myDisplay;
}

.ImgTitle {
     display: $myDisplay;
}

.avatarCon {
     display: $myFlex;
     vertical-align: $myVertical;
}